/*
    Components: Title
    ---
    Title styles
*/


.c-page-title {
    color: $primary;
    font-size: 24px;
    font-weight: 500;

    margin-bottom: 30px;
}

.c-page-title--section {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #818A92;

    margin-bottom: 20px;
}
