.navigation {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    overflow-y: scroll;
    display: inline-block;

    background: $gray;
    color: $white;

    .list-title {
        color: #959595;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        margin: 15px 0;
        padding: 0px 20px;
    }

    li {
        user-select: none;

        @include transition(border 100ms);

        color: #959595;

        >span {
            display: inline-block;
            width: 100%;
            padding: 10px 20px;

            >i {
                margin-right: 10px;
                margin-top: 4px;
                @include transition(color 100ms);
            }
        }
    }

    >ul {
        >li.active {
            border-left: 3px solid $primary;

            >span {
                color: $white;
                background: $grayDark;

                >i {
                    color: $primary;
                }
            }

            >ul {
                >li.active {
                    >span {
                        color: $white;
                        font-weight: 700;

                        >i {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }


    ul {
        font-size: 14px;
        padding: 20px 0;
        list-style: none;

        >li>span {
            &:hover {
                background-color: $grayDark;
            }
        }

        // Level 1
        >li {
            >ul {
                padding: 0 0 20px 40px;
                // Level 2
                >li {
                    &:hover {
                        color: $white;
                        >i {
                            color: $primary;
                        }
                    }
                    >i {
                        margin-top: 6px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
