.body {
    min-height: 100vh;
    background: $grayLight;

    &.authentication {

        .main-view {
            height: 100vh;
        }

        .appContainer,
        .content,
        ui-view {
            height: 100vh;
            display: block;
        }
    }
}

.c-authentication {
    display: block;
    margin: 0 auto;

    width: 400px;
    padding: 20px;

    background: $white;
    border: 1px solid rgb(222, 222, 222);

    border-radius: 3px;

    position: relative;
    top: 20%;
    transform: translateY(-50%);

    @include clearfix;

    .c-authentication__branding {
        float: left;
        display: block;
        padding-right: 20px;

        border-right: 1px solid rgb(222, 222, 222);
    }

    .c-authentication__area {
        overflow: hidden;
        padding-left: 20px;

        button {
            font-size: 14px;
            border: 1px solid $primary;
            color: $primary;
            background-color: $white;
            padding: 10px 10px 7px 10px;
            margin-top: 15px;
            border-radius: 3px;
        }
    }
}
