/*
    Components: Forms
    ---
    Label styles
*/

// Labels
.c-label {
    display: inline-block;

    color: #818A92;
    font-weight: 600;
    @include text-dimensions($ms-1,1);

    &.has-error {
        color: palette(color-error);
    }
}

.c-label--small {
    display: inline-block;

    color: palette(color-neutral);
    @include text-dimensions($ms-3,1);
}

.c-label--option {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
}


.c-label--error {
    color: palette(color-error);
}
