/*
    Elements: Typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $alpha-font-family;
    font-weight: $alpha-font-weight;
    @include margin-bottom($alpha-leading);
}

h1 {
    @include text-dimensions($ms6,2);
}

h2 {
    @include text-dimensions($ms4,1.5);
}

h3 {
    @include text-dimensions($ms2,1.25);
}

h4,
h5,
h6 {
    font-weight: $beta-font-weight;
    @include text-dimensions($alpha-font-size,1);
}

p {
    font-size: 12px;
    color: #616566;
}

// Links

a {
    text-decoration: none;
    color: palette(color-alpha);
    transition: color $animation-duration $animation-easing;
    vertical-align: bottom;

    &:visited {
        color: palette(color-alpha);
    }

    &:hover {
        text-decoration: underline;
        color: palette(color-alpha,light);
    }

    &:focus {
        outline: thin dotted;
        color: palette(color-alpha,light);
    }

    &:hover,
    &:active {
        outline: 0;
    }
}
