/*
    Generic: AngularJS
    ---
    AngularJS styles that dramatically improve usability
*/


[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

/*
    Make elements that are clickable visually "pointed"
*/
*[ng-click],
*[data-ng-click],
*[ui-sref] {
    cursor: pointer;
}
